<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Empresario Register</title>
</head>
<body>
    <div class="logo">
        <img src="../static/assests/E-Cell Logo (Black) (1).png" alt="">
        
    </div>
    <div class="logo2">
        <img src="../static/assests/Copy of Empresario Logo.png">
    </div>
</div>
<div class="empresario-is-the">
    Empresario is the annual business model competition organized by
    Entrepreneurship Cell, IIT Kharagpur.Entrepreneurship Cell is searching
    for innovative and enterprising ideas through Empresario.Empresario'22
    provides a platform for students to get excellent professional
    mentorship from our experienced, varied, and distinguished mentor pool,
    and to showcase their ideas in front of Venture Capitalists, Angel
    Investors, and Industry Leaders.
  </div>
  <div class="about-empresario">About Empresario</div>
</div>

    
         <div class="container col-3">
        
        <h1>Login</h1>
        <form   method="POST"  class="col-11">
            {% csrf_token %} 
            <div class="fields">
                <div class="input-field">
                    <label>E-mail</label>
                    <input type="email" name="email" placeholder="Enter your E-mail" required>
                </div> 
            </div>
            <div class="fields">
                <div class="input-field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter your Password" required>
                </div> 
            </div>
             <button class="btncont-que" type="submit"><b>Login</b></button><b>
            Does'nt  have an account <a href="{% url 'signup' %}"> Register </a>
            
        </form>
    
        </div>    
    
   
</body>
</html>